<header>
    <div class="header-wrapper">
        <a href="#">
            auto.market
        </a>

        <nav class="header-nav flex-row">
            <a class="header-nav__item flex-row cases">
                <span class="item-text">Home</span>
            </a>

            <a class="header-nav__item flex-row cases">
                <span class="item-text">Sell Car</span>
            </a>

            <a class="header-nav__item flex-row cases">
                <span class="item-text">Buy Car</span>
            </a>

            <a class="header-nav__item flex-row cases">
                <span class="item-text">Market</span>
            </a>

            <a class="header-nav__item flex-row cases">
                <span class="item-text">Contact Us</span>
            </a>
        </nav>

        <div class="header-action">
            <mat-icon class="action" href="#">drive_eta</mat-icon>
            <mat-icon class="action" href="#">star_outline</mat-icon>
            <mat-icon class="action" href="#">person_outline</mat-icon>
            <a class="action" href="#">Sign in</a>
            <button class="action" href="#">Sign Up</button>
        </div>
    </div>

</header>